:root {
    --background: #000000; 
    --main: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: sans-serif;
}

body {
    height: max(100vh, 600px);
    width: max(100%, 480px);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#text-div {
    padding-bottom: 10px;
    width: 60%;
    font-size: 2rem;
    color: var(--main);
    display: flex;
    justify-content: center;
    user-select: none;
}

.gameboard-wrapper {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boardgrid {
    width: min(50vw, 500px);
    height: min(50vw, 500px);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    background-color: var(--main);
}

.boardspace {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    font-size: max(3rem, 6vw);

    user-select: none;

    color: var(--main);
    background-color: var(--background);
}